<!DOCTYPE html>
<html ng-app="store" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample Store</title>

    <!-- Bootstrap -->
    <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="app.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Angular Sample Store</h1>
                <p>This is a simple store using AngularJS.  The purpose of this demonstration is to learn the core Angular; directives, expressions and modules.</p>
            </div>
        </div>
        <div class="row row-centered">
            <div ng-controller="StoreController as store" class="col-lg-8 col-md-8 col-centered">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="product in store.products">
                        <div class="row product">
                            <div class="col-lg-4 col-md-8 product-name">
                                <product-title></product-title>
                            </div>
                            <div class="col-lg-4 col-md-8 product-image">
                                <product-image></product-image>
                            </div>
                            <div class="col-lg-4 col-md-8 product-price">
                                <product-price></product-price>
                            </div>
                        </div>
                        <div class="row text-center">
                            <section ng-controller="PanelController as panel">
                                <ul class="nav nav-pills center-pills">
                                    <li ng-class="{active: panel.isSelected(1)}">
                                        <a href ng-click="panel.selectTab(1);">Description</a>
                                    </li>
                                    <li ng-class="{active: panel.isSelected(2)}">
                                        <a href ng-click="panel.selectTab(2);">Specifications</a>
                                    </li>
                                    <li ng-class="{active: panel.isSelected(3)}">
                                        <a href ng-click="panel.selectTab(3);">Reviews</a>
                                    </li>
                                </ul>
                                <div class="panel" ng-show="panel.isSelected(1)">
                                    <h4>Description</h4>
                                    <p>{{product.description}}</p>
                                </div>
                                <div class="panel" ng-show="panel.isSelected(2)">
                                    <h4>Specifications</h4>
                                    <p>{{product.specifications}}</p>
                                </div>
                                <div class="panel" ng-show="panel.isSelected(3)">
                                    <div class="row row-centered">
                                        <div class="col-lg-8 col-centered">
                                            <h4>Reviews</h4>
                                            <blockquote ng-repeat="review in product.reviews">
                                                <b>Stars: {{review.stars}}</b>
                                                <p>{{review.body}}</p>
                                                <i>{{review.author}}</i>
                                            </blockquote>
                                        </div>
                                    </div>
                                        <div class="row row-centered">
                                            <form name="reviewForm" class="reviewForm col-lg-8 col-centered" role="form" ng-controller="ReviewController as reviewCtrl" ng-submit="reviewForm.$valid && reviewCtrl.addReview(product);" novalidate>
                                    
                                                <blockquote>
                                                    <b>Stars: {{reviewCtrl.review.stars}}</b>
                                                    <p>{{reviewCtrl.review.body}}</p>
                                                    <i>{{reviewCtrl.review.author}}</i>
                                                </blockquote>
                                            
                                                <div class="form-group">
                                                    <label>Stars:</label>
                                                    <select ng-model="reviewCtrl.review.stars" class="form-control" required>
                                                        <option value="5">5</option>
                                                        <option value="4">4</option>
                                                        <option value="3">3</option>
                                                        <option value="2">2</option>
                                                        <option value="1">1</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label>Review:</label>
                                                    <textarea ng-model="reviewCtrl.review.body" class="form-control" rows="3" required></textarea>
                                                </div>
                                                <div class="form-group">
                                                    <label>Email:</label>
                                                    <input type="email" class="form-control" ng-model="reviewCtrl.review.author" placeholder="Enter email" required>
                                                </div>

                                                <p>review form is: {{reviewForm.$valid}}</p>
                                                 <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <script src="lib/angular/angular.min.js"></script>

    <script src="app.js"></script>
  </body>
</html>